@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
}

:root {
  /* Global Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #000000;
  --secondary-color: #ea7202;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Global Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2.4rem;
  --font-size-xxl: 3rem;

  /* Global Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Global Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Global Site max width */
  --site-max-width: 1300px;

  /* Global Site transition */
  --transition: 0.3s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: wheat;
}

/* GALOBAL STYLE */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

img {
  width: 100%;
}

input {
  font-family: inherit;
}
/* === :where(section, footer) .section-content === */
:where(section, footer) .section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
/* === section .section-title, section .section-title::after === */
section .section-title {
  width: fit-content;
  margin: 50px auto;
  position: relative;
  font-size: var(--font-size-xl);
  padding-bottom: 10px;
}
section .section-title::after {
  content: "";
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*=============== NAVBAR ===============*/

/* === header === */
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  color: var(--white-color);
  background-color: #000000;
}
/* === header .navbar === */
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
/* === .navbar .nav-logo .logo-text, .navbar .nav-logo .logo-text span === */
.navbar .nav-logo .logo-text {
  color: var(--white-color);
}
.navbar .nav-logo .logo-text span {
  color: var(--secondary-color);
}
/* === .navbar .nav-menu === */
.navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
/* === .navbar .nav-menu .nav-link, .navbar .nav-menu .nav-link:hover === */
.navbar .nav-menu .nav-link {
  padding: 6px 12px;
  border-radius: var(--border-radius-s);
  transition: var(--transition);
}
.navbar .nav-menu .nav-link:hover {
  background-color: var(--secondary-color);
}
/* === .navbar :where(#menu-open-button, #menu-close-button) === */
.navbar :where(#menu-open-button, #menu-close-button) {
  display: none;
}

/*=============== HERO SECTION ===============*/

/* === .hero-section === */
.hero-section {
  color: var(--white-color);
  background-image: url(/images/image2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  background-color: #00000075;
  height: 100dvh;
}
/* === .hero-section .section-content === */
.hero-section .section-content {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
}
/* === .hero-section .hero-details === */
.hero-section .hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* === .hero-section .hero-details .title === */
.hero-section .hero-details .title {
  color: var(--secondary-color);
}
/* === .hero-section .hero-details .subtitle === */
.hero-section .hero-details .subtitle {
  font-size: var(--font-size-xl);
}
/* === .hero-section .hero-details .description === */
.hero-section .hero-details .description {
  font-size: var(--font-size-m);
}
/* === .hero-section .hero-details .buttons === */
.hero-section .hero-details .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/* === .hero-section .hero-details .button, .hero-section .hero-details .button:hover, .hero-section .hero-details .button.contact-us, .hero-section .hero-details .button.contact-us:hover === */
.hero-section .hero-details .button {
  border: 1px solid gray;
  padding: 8px 12px;
  border-radius: var(--border-radius-m);
  transition: var(--transition);
}
.hero-section .hero-details .button:hover {
  transform: scale(1.05);
  background-color: #83838391;
}
.hero-section .hero-details .button.order-now {
  background-color: var(--secondary-color);
}
/*=============== ABOUT SECTION ===============*/

/* === .about-section === */
.about-section {
  padding: 50px 0 100px;
  display: grid;
  place-items: center;
  background-color: var(--light-pink-color);
}
/* === .about-section .section-content === */
.about-section .section-content {
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
/* === .about-section .about-image-wrapper .about-image === */
.about-section .about-image-wrapper .about-image {
  width: 250px;
  height: 250px;
  border-radius: var(--border-radius-circle);
}
/* === .about-section .about-details === */
.about-section .about-details {
  width: 500px;
}
/* === .about-section .about-details .section-title === */
/* .about-section .about-details .section-title {
  width: fit-content;
  margin: 50px auto;
  border-bottom: 2px solid var(--secondary-color);
} */
/* === .about-section .about-details .text === */
.about-section .about-details .text {
  width: 100%;
  text-align: justify;
}
/*=============== MENU SECTION ===============*/

/* === .menu-section === */
.menu-section {
  padding: 50px 0 100px;
  display: grid;
  place-items: center;
}
/* === .menu-list === */
.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
/* === .menu-item, .menu-item:hover === */
.menu-item {
  padding-bottom: 20px;
  border-radius: var(--border-radius-s);
  overflow: hidden;
  background-color: var(--white-color);
  border: 1px solid #bbbbbb;
  text-align: center;
  transition: var(--transition);
}
.menu-item:hover {
  transform: scale(1.05);
}
.menu-details {
  margin: 30px;
}
/* === .menu-image, .menu-item:hover .menu-image === */
.menu-image {
  width: 100%;
  transition: var(--transition);
}
.menu-item:hover .menu-image {
  transform: scale(1.05);
}
/* === .menu-item .name === */
.menu-item .name {
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
}
/* === .menu-item .text === */
.menu-item .text {
  font-weight: var(--font-weight-normal);
}
/* === .menu-item .order-now, .menu-item .order-now:hover === */
.menu-item .order-now {
  padding: 8px 12px;
  border-radius: var(--border-radius-m);
  background-color: var(--secondary-color);
}
/*=============== TESTIMONIALS SECTION ===============*/

/* === .testimonials-section === */
.testimonials-section {
  padding: 50px 0 100px;
  background-color: var(--light-pink-color);
}
/* === .testimonials-section .slider-wrapper === */
.testimonials-section .slider-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  margin: 0 60px 50px;
}
/* === .testimonials-section .testimonial === */
.testimonials-section .testimonial {
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
/* === .testimonials-section .testimonial .user-image === */
.testimonials-section .testimonial .user-image {
  border-radius: var(--border-radius-circle);
  object-fit: cover;
}
/* === .testimonials-section .testimonial .name === */
.testimonials-section .testimonial .name {
  font-size: var(--font-size-m);
}
/* === .testimonials-section .testimonial .feedback === */
.testimonials-section .testimonial .feedback {
  line-height: 25px;
}
/* === .testimonials-section .swiper-pagination-bullet === */
.testimonials-section .swiper-pagination-bullet {
  background-color: var(--secondary-color);
  width: 15px;
  height: 15px;
  opacity: 1;
  transition: var(--transition);
}
.testimonials-section .swiper-pagination-bullets {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* === .testimonials-section .swiper-slide-button, .testimonials-section .swiper-slide-button:hover === */
.testimonials-section .swiper-slide-button {
  padding: 5px;
  color: gray;
}
.testimonials-section .swiper-slide-button:hover {
  color: rgb(71, 71, 71);
  transform: scale(1.05);
}
/*=============== GALLERY SECTION ===============*/

/* === .gallery-section === */
.gallery-section {
  padding: 50px 0 100px;
}
/* === .gallery-section .gallery-list === */
.gallery-section .gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* === .gallery-section .gallery-list .gallery-item === */
.gallery-section .gallery-list .gallery-item {
  border-radius: var(--border-radius-m);
  overflow: hidden;
}
/* === .gallery-section .gallery-item .gallery-image, .gallery-section .gallery-item:hover .gallery-image === */
.gallery-section .gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  transition: var(--transition);
  object-fit: cover;
}
.gallery-section .gallery-item:hover .gallery-image {
  transform: scale(1.05);
}
/*=============== CONTACT SECTION ===============*/

/* === .contact-section === */
.contact-section {
  padding: 50px 0 100px;
  background-color: var(--light-pink-color);
}
/* === .contact-section .section-content === */
.contact-section .section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* === .contact-section .contact-info-list .contact-info === */
.contact-section .contact-info-list .contact-info {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
/* === .contact-section .contact-info-list .contact-info i === */

/* === .contact-section .contact-form .form-input, .contact-section .contact-form .form-input:focus === */
.contact-section .contact-form .form-input {
  width: 70%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: var(--border-radius-s);
  border: 1px solid gray;
}
.contact-section .contact-form .form-input:focus {
  outline: none;
}
/* === .contact-section .contact-form === */
.contact-section .contact-form {
  display: flex;
  flex-direction: column;
}
/* === .contact-section .contact-form textarea.form-input === */
.contact-section .contact-form textarea.form-input {
  resize: vertical;
  max-height: 100px;
}
/* === .contact-section .contact-form .submit-button, .contact-section .contact-form .submit-button:hover === */
.contact-section .contact-form .submit-button {
  width: fit-content;
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  padding: 8px 16px;
  transition: var(--transition);
}
.contact-section .contact-form .submit-button:hover {
  transform: scale(1.05);
}
/*=============== FOOTER SECTION ===============*/

/* === .footer === */
.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}
/* === .footer .container === */
footer .container {
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
}
/* === .about === */

/* === .footer .container .sec h2, .footer .container .sec h2::before === */
.footer .container .sec h2 {
  width: fit-content;
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 5px;
}
.footer .container .sec h2::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: 0;
  right: 0;
}
/* === .footer .container .sec p === */
.footer .container .sec p {
  font-size: var(--font-size-m);
  line-height: 24px;
}
/* === .social-icon === */
.social-icon {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
/* === .social-icon li === */

/* === .social-icon li a, .social-icon li a::after, .social-icon li a:hover::after === */
.social-icon li a {
  position: relative;
  font-size: 20px;
  color: var(--white-color);
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: inline-block;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius-circle);
  overflow: hidden;
  z-index: 1;
}
.social-icon li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 40px;
  border-radius: var(--border-radius-circle);
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  transition: var(--transition);
  z-index: -1;
}
.social-icon li a:hover::after {
  width: 100%;
}
/* === .useful-links, .shop === */
.useful-links {
  position: relative;
}
/* === .useful-links li, .shop li === */

/* === .useful-links li a, .useful-links li a:hover, .shop li a, .shop li a:hover, .footer .container .sec p a === */
/* === footer .container .sec p a, footer .container .sec p a:hover === */
.useful-links li a,
.shop li a,
footer .container .sec p a,
.info li span i {
  font-size: 16px;
  line-height: 30px;
  transition: var(--transition);
}
.useful-links li a:hover,
.shop li a:hover,
footer .container .sec p a:hover,
.info li span i:hover {
  color: var(--secondary-color);
}
/* === .info === */

/* === .info li === */
.info li {
  display: grid;
  grid-template-columns: 1fr;
}
/* === .info li span === */
.info li span {
  font-size: 16px;
  line-height: 26px;
}
/* === .contact-span === */

/* === .info li span i, .info li span i.bx === */

/* === .copyright === */
.copyright {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* === @media screen and (max-width: 1024px) === */
@media screen and (max-width: 1024px) {
  /* .gallery-section .gallery-list { */
  .gallery-section .gallery-list {
    gap: 10px;
  }
  /* .about-section .section-content */
  .about-section .section-content {
    gap: 60px;
  }
  /* === .menu-section .menu-list === */
  .menu-section .menu-list {
    gap: 30px;
  }
}

/* For medium devices */

/* === @media screen and (max-width: 900px) === */
@media screen and (max-width: 900px) {
  /* === :root === */
  :root {
    --font-size-m: 0.9rem;
    --font-size-xl: 2.1rem;
  }
  /* .navbar .nav-menu */
  .navbar .nav-menu {
    gap: 10px;
  }

  /* .hero-section .hero-details .button */
  .hero-section .hero-details .button {
    padding: 6px 8px;
  }

  /* .about-section .section-content */
  .about-section .section-content {
    flex-direction: column-reverse;
  }

  /* footer .container */
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .contact-section .section-content */
  .contact-section .section-content {
    gap: 10px;
  }
  /* .testimonials-section .slider-wrapper */
  .testimonials-section .slider-wrapper {
    position: static;
  }
  /* === body.show-mobile-menu, body.show-mobile-menu header::before === */
  body.show-mobile-menu {
    overflow: hidden;
  }
  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000041;
  }
}

/* === @media screen and (max-width: 780px) === */
@media screen and (max-width: 780px) {
  /* .navbar .nav-menu */
  .navbar .nav-menu {
    position: absolute;
    padding: 80px;
    top: 0;
    right: -100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    background-color: #000000;
    transition: var(--transition);
  }
  .navbar .nav-menu.open-menu {
    right: 0;
  }
  #menu-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  /* .hero-section .hero-details .subtitle */
  .hero-section .hero-details .subtitle {
    font-size: 1.8rem;
  }
  /* .hero-section .hero-details .buttons */
  .hero-section .hero-details .buttons {
    gap: 20px;
  }
  .menu-list {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .gallery-section .gallery-list */
  .gallery-section .gallery-list {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .contact-section .contact-form .form-input */
  .contact-section .contact-form .form-input {
    width: 80%;
  }
  /* === .navbar :is(#menu-open-button, #menu-close-button), .navbar :is(#menu-open-button, #menu-close-button):hover === */
  .navbar :is(#menu-open-button, #menu-close-button) {
    display: block;
    color: #fff;
    font-size: 1.2rem;
  }
  .navbar :is(#menu-open-button, #menu-close-button):hover {
    color: gray;
  }
  /* .header .navbar */
  .header .navbar {
    flex-direction: row-reverse;
  }
  /* === .menu-section .menu-list .menu-item === */
}

/* For small devices */

/* === @media screen and (max-width: 640px) === */
@media screen and (max-width: 640px) {
  :root {
    --font-size-xl: 1.1rem;
  }
  /* .hero-section .hero-details .subtitle */
  .hero-section .hero-details .subtitle {
    font-size: 1.1rem;
  }
  /* .hero-section .hero-details .description */
  .hero-section .hero-details .description {
    font-size: 0.7rem;
    text-align: center;
  }
  /* .about-section .about-details */
  .about-section .about-details {
    width: auto;
  }
  /* .menu-list */
  .menu-list {
    grid-template-columns: 1fr;
  }
  .contact-section .section-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  /* footer .container */
  footer .container {
    grid-template-columns: 1fr;
  }
}
